*, *::before, *::after {
    box-sizing: border-box;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0;
    margin: 0;
}

/* Header section starts */
header a {
    text-decoration: none; 
    color: #1d1d1b;
    color: var(--tertiary);
  margin: 5px 0 20px;
  font-size: 2rem;
 }
 header p {
  color: var(--tertiary);
  margin: 5px 0 20px;
  font-size: 2rem;
 }
 header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  #play {
    text-decoration: none;
    display: none;
    text-align: center;
  }

  #score-board {
    width: 100%;
    align-items: start;
    flex-direction: column;
  }

.page-content {
    text-align: center;
}

.container {
  text-align: center;
}